body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 0;
}

#hero {
    width: 348px;
    height: 223px;
    margin: 0 auto 72px;
}


h1 {
  width: 562px;
  font-family: "Inter";
  font-size: 49px;
  line-height: 56px;
  font-weight: 400;
  margin: auto;
}

h1 span {
  color: #f90;
  font-weight: 700;
}

span, a {
  color: #ff9900;
}

p {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;

  width: 592px;
  margin: 0 auto 72px;
}

p #span{
  color: #F90;
}

.line {
  width: 568px;
  margin: 0 auto 8px;

  border: 1px solid #ECEFF2;
}

#footer a + a {
    margin-left: 28px;
}

#footer {
  line-height: 28px;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}